# Ignore the file config.py files
config.py
# Ignore the file 
test.wav
# Ignore the file 
tes2.wav
# Ignore the file 
voice11lab.py
# Ignore the file 
voice_recording.wav
# Ignore the file 
voice_recording.webm
# Ignore the file 
golden-system-385200-bf62ec1f5276.json
# Ignore the file 
GUI.py

