# Ignore the file config.py
config.py
# Ignore the file test.wav 
test.wav
# Ignore the file test2.py
test2.py
# Ignore the file voice11lab.py
voice11lab.py
# Ignore the file voice_recording.wav
voice_recording.wav
# Ignore the file voice_recording.webm
voice_recording.webm
# Ignore the file golden-system-385200-faa36efafbd4.json
golden-system-385200-faa36efafbd4.json
# Ignore the file GUI.py
GUI.py
# Ignore this folder
save_code/
