# Ignore the file config.py
config.py
# Ignore the file test.wav 
test.wav
# Ignore the file test2.wav
tes2.wav
# Ignore the file voice11lab.py
voice11lab.py
# Ignore the file voice_recording.py
voice_recording.wav
# Ignore the file voice_recording.webm
voice_recording.webm
# Ignore the file golden-system-385200-bf62ec1f5276.json
golden-system-385200-bf62ec1f5276.json
# Ignore the file GUI.py
GUI.py

